Installation Guide
==================

To enable this plugin, copy `reverse-proxy-auth-sonar-plugin-${project.version}.jar` to
the `$SONAR_DIR/extensions/plugins` folder.   Then you need to set it as the
security realm in the `$SONAR_DIR/conf/sonar.properties` file by adding

    sonar.security.realm=reverseproxyauth

### Automatic login

To remove the need for users to explicitly click on **Log in** enable **Force user authentication** under *General Settings* > *Security*.

### Automatic user creation

By default, unregistered users are automatically created.   This can be changed from the settings.